[Unit]
Description=Starts game at beginning of user session
After=graphical-session.target
Requires=graphical-session.target

[Service]
RemainAfterExit=true
ExecStart=/bin/bash -c /home/pi/gameStarterScript.sh
Restart=on-failure

[Install]
WantedBy=default.target